.link,
.hashtag,
.mention {
  color: var(--accent);
  text-decoration: none;
}

.link:hover,
.hashtag:hover,
.mention:hover {
  text-decoration: underline;
}

.hashtag,
.mention {
  font-weight: 500;
}
